{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-add-import-extension",
    [
      "module-resolver",
      {
        "alias": {
          "$logging": "./src/logger"
        }
      }
    ]
  ]
}
